<div class="text-center">
  <h1>Thank you memo!</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    
<%= form_with(model: @user, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<!-- renderを入れたことでエラーメッセージが追加された -->

<!-- Name新規登録箇所 -->

      <div class="form-group">
        <div class="cp_iptxt">
	        <input class="ef" type="text" name="user[name]" id="user_name" >
	        <label>Name</label>
	        <span class="focus_line"></span>
        </div>
      </div>
<!-- Name新規登録箇所ここまで -->
<!-- Email新規登録箇所 -->

      <div class="form-group">
        <div class="cp_iptxt">
	        <input class="ef" type="text" name="user[email]" id="user_email" >
	        <label>Email</label>
	        <span class="focus_line"></span>
        </div>
      </div>
      
<!-- Email新規登録箇所ここまで -->

<!-- password新規登録箇所 -->

      <div class="form-group">

        <div class="cp_iptxt">
	        <input class="ef" type="password" name="user[password]" id="user_password" >
	        <label>Password</label>
	        <span class="focus_line"></span>
        </div>
        
      </div>

<!-- password新規登録箇所ここまで -->

<!-- 確認password新規登録箇所 -->

      <div class="form-group">

        <div class="cp_iptxt">
	        <input class="ef" type="password" name="user[password_confirmation]" id="password_confirmation" >
	        <label>Confirmation</label>
	        <span class="focus_line"></span>
        </div>
        
      </div>
      
<!-- 確認password新規登録箇所ここまで -->
 <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
 <% end %>
  </div>
</div>